body {
    background-image: url("ma_long.jpeg");
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment:fixed;
    background-color: rgb(138, 4, 4);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#overskrift{
    border:1px #000000 solid;
    background-color: black;
    color:#ed0000;
}
div{
    background-color:rgb(255, 255, 255) ;
    width:70%;
    margin:100px auto;
    border:1px black solid;
    text-align: center;
    padding: 20px;
    border-radius:100px;

}
a:hover{
   color: blue;
   background-color: orange;
}
img{
    width:70%;
    margin:auto;
}
.Regler{
    color:rgb(10, 61, 85);
}
#rank{
    background-color:rgb(129, 129, 129)
}
#tabell1{
    
    margin:20px auto;
    border-collapse: collapse;

}
th,td{
    border:2px solid black;
    padding: 8px;
    background-color: white;
}